.swal2-title {
    font-size: 15px !important;
}

.swal2-styled.swal2-confirm {
    font-size: 14px !important;
}

.swal2-styled.swal2-cancel {
    font-size: 14px !important;
}

.swal2-icon {
    width: 4em !important;
    height: 4em !important;
    margin: 0 auto 0.875em !important;
}

.swal2-popup {
    width: 25em !important;
}

.swal2-actions {
    margin: 0.5em auto 0px !important;
}

body.swal2-height-auto {
    padding-right: 0 !important;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: auto !important;
}