.nht-form {
	.floating-label-form-group {
		.react-tel-input {
			.form-control.is-invalid {
				border-color: #dc3545;
				padding-right: calc(1.5em + 0.75rem);
				background-repeat: no-repeat;
				background-position: right calc(0.375em + 0.1875rem) center;
				background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
			}
			.form-control.is-invalid:focus {
				border-color: #dc3545;
				box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
			}
			.flag-dropdown {
				z-index: 2 !important;
			}
			input {
				width: 100% !important;
			}
			.special-label {
				display: none;
			}
			.country-list {
				.search {
					padding: 10px 10px 10px 10px !important;
					box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);
				}
				.search-box {
					margin-left: 0 !important;
				}
			}
		}
	}
}
